*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}
body{
    overflow-x: hidden;
    font-family: Poppins, sans-serif;
}

#navbar{
display: flex;
justify-content: right;
align-items: center;
padding-right: 20px;
background-color: #be3144;
font-size: 22px;
position: fixed;
width: 100%;
height: 70.7782px;
line-height: 30.8px;
top: 0;
border-bottom: transparent 2px solid;
}

#navbar span{
    padding: 0 20px;
}
#navbar span a{
    color: white;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313236;
    height: 560px;
    width: 1298.08px;
    font-weight: bold;
    margin-top: 70px;
}
h1{
    font-size: 60px;
    color: white;
    padding-top: 200px;
}
#welcome-section p{
    font-size: 30px;
    color: #be3144;
    font-style: italic;
   
}



#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #45567D;
    height: 1373.9px;
    width: 1298.08px;
}

#projects h2{
font-size: 43px;
color: white;
padding-top: 100px;
border-bottom:white 2px solid;
}

.project-tiles{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}
.project-tiles div,button{
    border-radius: 3px;
}

.project-tile{
display:flex;
width: fit-content;
height: 450px;
margin: 20px;
background-color: #303942;

}
.project-tile img{
    width: 392px;
    height: 382px;
}
.project-tile p{
    color: white;
    font-size: 23px;
    padding-top: 18px;
    text-align: center;
}
button{
    background-color: #303942;
    color: white;
    border: none;
    font-size: 23px;
    padding:10px 20px;
    
}


